# Ignore everything by default
*

# Whitelist specific files and directories
!*.py
!*.html
!Dockerfile
!dockerignore
!*yml
!*.yaml
!*.env.example
!/segements
!/templates
!/transcripts
# !/uploads
!*.md
!LICENSE
